body {
  background-image: url(fondo2.jpg);
  background-size: 67%;

  
}
  
.square {
  padding-bottom: 30%;
  background-color: burlywood;
  margin: 5px;
  border-radius: 15px;
  width: 215px;
  height: 140px;

  transition: opacity 1s;

}



h1 {
  color: black;
  text-align: center;
  font-size: 40px;
  margin-bottom: 70px;
  
}


#message{
  color: black;
  font-size: 50px;
  font-style: italic;
  position: relative;
  bottom: 340px;
  left: 755px;
  transition: opacity 2s; 
  font-weight: bold;
}



#stripe{

  height: 30px;
  text-align: center;
}

button{
  width: 80px;
  height: 40px;
  margin-left: 20px;
  border-radius: 15px;
  position: relative;
  bottom: 150px;
}

button:hover{
  background-color: aqua;
}

div button{
  position: static;
  margin: 0;
  width: 150px;
  height: 30px;
}

.selected{
  background-color: red;
}
.selected:hover{
  background-color: red;
}

@keyframes colorChange {
  0%   {background-color: rgba( 136, 236, 19, 0.4 );}
  16%  {background-color: rgba(241, 148, 8, 0.4);}
  33%  {background-color: rgba(205, 14, 243, 0.4);}
  49% {background-color: rgba(19, 103, 230, 0.4);}
  67% {background-color: rgba(248, 6, 6, 0.4);}
  83% {background-color: rgba(244, 248, 6, 0.4);}
  100% {background-color: rgba( 136, 236, 19, 0.4 );}
}

.container {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: 1fr 2fr 0fr 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 3px black solid;
  width: 800px;
  height: 550px;
  margin: 0 auto;

  background: rgba( 136, 236, 19, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  animation: colorChange 40s infinite;
}
  
#div1 { grid-area: 2 / 2 / 3 / 3; }
#div2 { grid-area: 2 / 3 / 3 / 4; }
#div3 { grid-area: 2 / 4 / 3 / 5; }
#div4 { grid-area: 4 / 2 / 5 / 3; }
#div5 { grid-area: 4 / 3 / 5 / 4; }
#div6 { grid-area: 4 / 4 / 5 / 5; }


#colorDisplay{
  font-size: 30px;
  position: relative;
  bottom: 680px;
  
}
#colorDisplayDiv{
  text-align: center;
  
}
