.container{
    background: rgba( 199, 45, 45, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    width: 300px;
}

input{
    margin: 2px solid black;
    background-color: lightblue;
}

p{
    font-weight: bold;
}

